input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}
body{
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    background-color: #fff;
}
h1{
    text-align: center;
    margin-top: 2px;
}
label{
    display: flex;
    align-items: center;
    margin:10px 0;
}
#password{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#generate{
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
#generate:hover{
    background-color: #3e8e41;
}