@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
:root{
    --primary-color:#f6f7fb;
    --white-color:#fff;
    --black-color:#18191a;
    --red-color:#e74c3c;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color:#242526;
    --white-color:#18131a;
    --black-color:#fff;
    --red-color:#e74c3c;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.container .clock{
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    position: relative;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1), 0 25px 40px rgba(0, 0, 0, 0.1);
}
.clock label{
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(var(--i)*(360deg/12)));
}
.clock label span{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: var(--black-color);
    transform: rotate(calc(var(--i)*(-360deg/12))); 
}
.container .indicator{
    position: absolute;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
}
.indicator::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
    background-color: var(--black-color);
    border: 4px solid var(--red-color);
}
.indicator .hand{
    position: absolute;
    height: 130px;
    width: 4px;
    bottom: 0;
    border-radius: 25px;
    transform-origin: bottom;
    background: var(--red-color);
}
.hand.hour{
    height: 100px;
    width: 8px;
    background: var(--black-color);
}
.hand.min{
    height: 120px;
    width: 4px;
    background: var(--black-color);
}
.mode-switch{
    padding:10px 20px ;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--black-color);
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.mode-switch:active{
    transform: scale(0.98);
}

