*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 35.87em;
    background-color: #1e90ff;
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 4fr;
    border-radius: 0.5em;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
}
@keyframes neonGlow {
    0%{
        box-shadow: 0 0 5px #fff,0 0 20px #fff;
    }
    100%{
        box-shadow: 0 0 20px #fff,0 0 40px #fff;
    }
}
.clock-container{
    background-color: #1a1a1a;
    text-align: center;
    font-size: 3.75em;
    margin-left: 0.2em;
    border-radius: 0.1em;
    padding: 0.2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-container span{
    display: block;
    width: 100px;
    text-align: center;
}
.hours{
    color: #ff0000;
}
.mins{
    color: #00ff00;
}
.secs{
    color: #0000ff;
}
.date-container{
    padding: 1em;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.date-container span{
    font-size: 2.5em;
}