body{
    margin: 200px;
    background-color: rgb(255,201,243);
}
.container{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
h1{
    margin-bottom: 30px;
    text-decoration: underline;
}
.counter-display{
    font-size: 72px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-shadow:0 2px 10px rgba(0, 0, 0, 0.3);
}
.buttons {
    margin-bottom: 20px;
}
button{
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    width: 80px;
    color: #fff;
    font-size: 17px;
}
button:active{
    transform: scale(0.93);
}
#reset{
    background-color: #c82333;
    margin-bottom: 20px;
}
#reset:hover{
    background-color: #b11c2b;
}
.btn{
    font-size: 24px;
}
.btn:hover{
    background-color: #222bff;
}
