body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.head{
    width :200px;
    display: flex;
    justify-content: center;
}
.face{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: black;
    margin: 20px;
}
.leye{
    border: 1px solid;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    top: 40px;
    right: 85px;
}
.reye{
    border: 1px solid;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    top: 40px;
    right: 68px;
}
.eye_dot{
    height: 6px;
    width: 6px;
    border-radius: 100px ;
    background-color: black;
    position: relative;
    top:4.5px;
    left:4.5px;
}
.white_dot{
    height:2px;
    width: 2px;
    background-color: white;
    border-radius: 10px ;
    position: relative;
    top: 1px;
    left: 1px;
}
.smile{
    height: 5px;
    width: 30px;
    position: relative;
    top: 30px;
    right: 25px;
    background: radial-gradient(100% 80% at top, transparent 50%, white 100%);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
.body{
    height: 130px;
    width: 10px;
    background-color: black;
    position: relative;
    left: 78px;
    bottom: 23px;
    border-radius: 5px;
}
.rh1{
    height:10px;
    width: 60px;
    background-color: black;
    position:relative;
    left: 75px;
    bottom: 134px;
    transform: rotate(-42deg);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.rh2{
    height:10px;
    width: 60px;
    background-color: black;
    position:relative;
    left: 122.5px;
    bottom: 158.8px;
    transform: rotate(-45deg);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    animation: 2s swing infinite ease-in-out;
    transform-origin: left;
}
@keyframes swing {
    0%, 100%{
        transform :rotate(-45deg);
    }
    50%{
        transform: rotate(-70deg);
    }
}
.lh1{
    height:10px;
    width: 60px;
    background-color: black;
    position:relative;
    left: 30px;
    bottom: 123px;
    transform: rotate(320deg);
    border-radius: 5px;
}
.lh2{
    height:10px;
    width: 60px;
    background-color: black;
    position:relative;
    left: -2.75px;
    bottom: 94px;
    transform: rotate(300deg);
    border-radius: 5px;
}
.ll{
    height: 80px;
    width: 10px;
    background-color: black;
    position: relative;
    bottom: 77px;
    left: 62.75px;
    transform: rotate(25deg);
    border-radius: 5px;
}
.rl{
    height: 80px;
    width: 10px;
    background-color: black;
    position: relative;
    bottom: 155px;
    left: 94px;
    transform: rotate(-25deg);
    border-radius: 5px;
}