body{
    background: url('background-blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Short Stack";
}
a{
    cursor:pointer;
    text-decoration: none;
    color: black;
}
button{
    cursor: pointer;
}
a:focus{
    outline:none !important ;
}
/* --------------------------------------------------------------- */
.logo{
    margin-left: 38.5%;
    margin-top: 2%;
}
.start{
    margin-left: 47%;
    margin-top: 100px;
}
.setting{
    margin-left:86%;
    margin-top: 4%;
}
.start img:active,
.setting img:active,
.home:active,
.back:active {
    transform: scale(0.93);
}
/* --------------------------------------------------------------- */
.sett{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color: aliceblue;
    text-shadow:-3px 0px 0px black,3px 0px 0px black,0px -3px 0px black,0px 3px 0px black,0px 0px 3px black;
}
.bg{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    position: relative;
    top: 30px;
}
.bgclr{
    font-size: 25px;
    color: aliceblue;
    font-weight: bolder;
    width: 200px;
}
.blue, .pink{
    height: 35px;
    width: 35px;
    border: 2px solid;
    margin-top:35px ;
    border-radius: 5px;
}
.blue{
    background-color: rgb(54, 197, 197);
}
.pink{
    background-color:#ffcccb;
    margin-left: 20px;
}
.home{
    margin-left: 86.5%;
    margin-top: 12%;
}
/* --------------------------------------------------------------- */
.back{
    margin-top: 30px;
    margin-left: 30px;
}
.pick_a_theme{
    margin-left: 650px;
    position: relative;
    top: -40px;
}
.rows{
    display: grid;
    place-items: center;
    margin-top: 90px;
    margin-left: 30px;
}
.first_row, .second_row, .third_row, .fourth_row{
    display:flex;
    justify-content: space-around;
    width: 800px;
    height: 100px;
}
.first_row button, .second_row button, .third_row button, .fourth_row button{
    font-family: "Short Stack";
    display: grid;
    place-items: center;
    font-size: 25px;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    font-weight: bold;
    background-color: aliceblue;
}
.first_row button:active, .second_row button:active, .third_row button:active, .fourth_row button:active{
    transform: scale(0.93);
}
/* --------------------------------------------------------------- */
.select_diff{
    text-align: center;
    position: relative;
    top: 100px;
}
.difficulty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70.52vh;
    flex-direction: column;
}
.difficulty button{
    font-family: "Short Stack";
    display: grid;
    place-items: center;
    font-size: 25px;
    border: 2px solid;
    border-radius: 5px;
    height: 50px;
    width: 180px;
    background-color:antiquewhite;
    font-weight: bold;
    margin-bottom: 30px;
}
.difficulty button:active{
    transform: scale(0.93);
}
/* --------------------------------------------------------------- */
.main{
    display: flex;
}
.hang{
    height: 580px;
    width: 400px;
    display: grid;
    place-items: center;
    margin-left:50px ;
    margin-top: 70px;
}
.sub{
    height: 600px;
    width: 800px;
    margin-left:150px;
    margin-top: -55px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}
.wrong{
    height: 380px;
    margin-bottom:1px;
}
.guess{
    font-size: 40px;
    margin-top: 0px;
}
.wrong_letters{
    font-size: 40px;
    resize: none;
    text-align: center;
    margin-left: -50px;   
    border: none;
    outline: none;
    background:none;
    cursor: default;
    letter-spacing: 20px;
    position: relative;
    top: -15px;
}
.theme_answer{
    margin: auto;
    font-size: 35px;
    position: relative;
    top: -15px;
}
.dashes{
    height: 250px;
}
.word_dashes{
    margin-top: 45px;
    font-size: 55px;
    text-align: center;
    letter-spacing: 25px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9;
}
.popup{
    height: 200px;
    width: 400px;
    border: 1px solid;
    background-color:aliceblue;
    position: absolute;
    top: 80px;
    left: 400px;
    z-index: 10;
    border-radius: 10px;
    opacity: 0;
}
.box{
    height: 150px;
    width: 250px;
    position: relative;
    top: 20px;
    left: 20px;
}
.box h2{
    position: relative;
    top: -20px;
}
.box p{
    position: relative;
    top: -30px;
    font-size: 17px;
}
.box button{
    position: relative;
    top: -30px;
    font-size: 17px;
    font-family: "Short Stack";
    height: 40px;
    width: 100px;
    text-align: left;
    position: relative;
    left: 40px;
    border-radius: 5px;
}
.box .no{
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.box .yes{
    background-color: rgb(133,255,120);
}
.yes:active, .no:active{
    transform: scale(0.93);
}
.gameend{
    height: 400px;
    width: 500px;
    position: absolute;
    bottom:180px;
    left: 40%;
    z-index: 10;
    color: white;
    display: none;
}
.gameend h1{
    text-align: center;
    font-size:50px;
}
.gameend p{
    text-align: center;
    font-size:25px;
    position: relative;
    top: 20px;
}
.gameend .answer{
    position: relative;
    top: -5px;
}
.gameend button{
    height: 50px;
    width: 120px;
    font-family: "Short Stack";
    color: white;
}
.play_again{
    margin-left: 110px;
    margin-top: 20px;
    background-color: rgba(60, 99, 0);
}
.exit{
    margin-left: 50px;
    background-color: rgba(118, 0, 0);
}
.gameend button:active, .gamefinsh button:active{
    transform: scale(0.93);
}

.gamefinish{
    height: 400px;
    width: 500px;
    position: absolute;
    bottom:180px;
    left: 40%;
    z-index: 10;
    color: white;
    display: none;
}
.gamefinish h1{
    text-align: center;
    font-size:50px;
}
.gamefinish p{
    text-align: center;
    font-size:25px;
    position: relative;
    top: 20px;
}
.gamefinish .answer{
    position: relative;
    top: -5px;
}
.gamefinish button{
    height: 50px;
    width: 120px;
    font-family: "Short Stack";
    color: white;
}

.starting{
    height: 200px;
    width: 500px;
    position: absolute;
    bottom:280px;
    left: 40%;
    z-index: 10;
    color: white;
    display: none;
}
.starting h1{
    text-align: center;
    font-size: 40px;
}
.starting p{
    text-align: center;
    font-size:25px;
}
.starting button{
    height: 50px;
    width: 120px;
    font-family: "Short Stack";
    background-color: blueviolet;
    color: white;
    position: relative;
    top: -10px;
    left: 35%;
}
.letsgo:active{
    transform: scale(0.93);
}