.hang .stand{
    display: none;
}
.hang .noose{
    position: relative;
    top: -415px;
    left: 10px;
    display: none;
}
.hang .head1{
    position: relative;
    top:-513px;
    left: 11px;
    z-index: 8;
    animation: fall_head 0.5s ease-in-out forwards paused;
    display: none;
}
@keyframes fall_head {
    0%{
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
    100%{
        transform: translateY(250px) translateX(30px) rotate(40deg);
    }
}
.hang .body{
    position: relative;
    top:-533px;
    left: 10px;
    z-index: 7;
    animation: fall_body 0.5s ease-in-out forwards paused;
    display: none;
}
@keyframes fall_body {
    0%{
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
    100%{
        transform: translateY(140px) translateX(-50px) rotate(60deg);
    }
}
.hang .short{
    position: relative;
    top:-553px;
    left: 11.5px;
    z-index: 7;
    animation: fall_short 0.5s ease-in-out forwards paused;
    display: none;
}
@keyframes fall_short {
    0%{
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
    100%{
        transform: translateY(110px) translateX(70px) rotate(-45deg);
    }
}
.hang .left_hand{
    position: relative;
    top:-668px;
    left: -68px;
    z-index: 5;
    animation: fall_left_hand 0.5s ease-in-out forwards paused;
    display: none;
}
@keyframes fall_left_hand {
    0%{
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
    100%{
        transform: translateY(180px) translateX(20px) rotate(-45deg);
    }
}
.hang .right_hand{
    position: relative;
    top:-758px;
    left: 90px;
    z-index: 5;
    animation: fall_right_hand 0.5s ease-in-out forwards paused;
    display: none;
}
@keyframes fall_right_hand {
    0%{
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
    100%{
        transform: translateY(170px) translateX(-20px) rotate(20deg);
    }
}
.hang .left_leg{
    position: relative;
    top:-752px;
    left: -15px;
    z-index: 5;
    animation: fall_left_leg 0.5s ease-in-out forwards paused;
    display: none;
}
@keyframes fall_left_leg {
    0%{
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
    100%{
        transform: translateY(60px) translateX(10px) rotate(90deg);
    }
}
.hang .right_leg{
    position: relative;
    top:-827px;
    left: 39px;
    z-index: 5;
    animation: fall_right_leg 0.5s ease-in-out forwards paused;
    display: none;
}
@keyframes fall_right_leg {
    0%{
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
    100%{
        transform: translateY(60px) translateX(-10px) rotate(-90deg);
    }
}