input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    margin: 0;
    -webkit-appearance:none ;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.container{
    max-width: 500px;
    margin: 100px auto;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.calculator{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 20px 50px;
}
.input-group{
    margin-bottom: 15px;
}
.input-group label{
    display: block;
    margin-bottom: 5px
}
.input-group input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
    cursor: pointer;
}
#result{
    margin-top: 20px;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
}