*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background: linear-gradient(to right, #4e54c8,#8f94fb);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px auto;
    max-width: 500px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    background-color: aliceblue;
    padding: 40px;
    border-radius: 5px;
}
h1{
    color: #333;
    text-decoration: underline;
    margin-bottom: 36px;
}
.color-box{
    width: 380px;
    height: 200px;
    margin-bottom: 20px;
    background-color:black;
    border-radius: 5px;
}
.sliders{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: self-end;
}
.slider{
    display: flex;
    margin: 10px;
}
label{
    margin-right: 5px;
}
input{
    width: 200px;
    margin-right: 5px;
}
span{
    font-weight: bold;
    width: 30px;
    display: inline-block;
    text-align: center;
}
.button-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.input-type-value{
    padding: 10px 20px;
    background-color: #ebe1e1;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    width: 180px;
}